<ul class="social-icons">
  {% if facebook_url != '' %}
    <li><a href="https://www.facebook.com/61573459371708/about/" target="_blank"><i class="icon-facebook"></i></a></li>
  {% endif %}
  {% if instagram_url != '' %}
    <li><a href="https://www.instagram.com/proximabeyonddecor.in/" target="_blank"><i class="icon-instagram"></i></a></li>
  {% endif %}
  {% if whatsapp_url != '' %}
    <li><a href="{{ whatsapp_url }}" target="_blank"><i class="icon-whatsapp"></i></a></li>
  {% endif %}
</ul>